<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHNformView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDA1DEA11DBA3B000067C7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA1DEBA1DBA3B000067C7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA1DEC51DBA3B000067C7F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
